@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Ekleme Sayfası</h4>
                <p>Kategori ile ilgili işlemleri asağıdaki Panel üzerinden gerçekleştirebilrisiniz.</p>
                <div class="bs-example" data-example-id="simple-table">

                    <form method="post">
                        <label>Ürün ıd</label>
                        <input type="text" class="form-control" asp-for="ProductId" />
                        <br />
                        <label>Ürün Adı</label>
                        <input type="text" class="form-control" asp-for="ProductName" />
                        <br />
                        <label>Ürün Fiyatı</label>
                        <input type="text" class="form-control" asp-for="ProductPrice" />
                        <br />
                        <label>Ürün Görseli</label>
                        <input type="text" class="form-control" asp-for="ProductImageUrl" />
                        <br />
                        <label>Ürün  Kategorisi </label>
                        <input type="text" class="form-control" asp-for="CategoryId" />
                        <br />
                        <label>Ürün Açıklanması </label>
                        <textarea class="form-control" asp-for="ProductDescription" rows="5"></textarea>
                        <br />
                        <button class="btn btn-primary"> ürün Güncelle</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

