
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exchange</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>


    <div class="container">
        <br /> <br />
        <h3 class="alert alert-success">Dolar Alış:@ViewBag.Exchange - Dolar Satış:@ViewBag.Previous</h3>
        <h3 class="alert alert-danger">Euro Alış:@ViewBag.ExchangeEur - Euro Satış:@ViewBag.PreviousEur</h3>
    </div>
</body>
</html>
