
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WeatherDetail</title>
</head>
<body>

    <h3>istanbulda hava durumu: @ViewBag.cityTemp </h3>
</body>
</html>
